/*!
 * Codycodes v1.0.0
 * github @cl33per
 * Univeristy of Richmond Full Stack Program
 */
 iframe {
    display:block;
    width:100%;
}
 .navbar-nav .active>.nav-link{
    color:#fff !important;
 }

 .blarg:hover{
    filter:blur(3px)
 }
.blargg{
   text-align: center;
}